.leaderboard {
  input {
    width: 414px;
    margin: 0 auto;
    padding: 6px 3px;
    color: #fff;
    font-size: 1.4em;
    border: 2px solid #deefff;
    background-color: #c79810;
    &::-webkit-input-placeholder {
      color: #777;
      text-indent: 3px;
    }
  }
  ul {
    padding: 0;
    margin: 25px 0 0 0;
    position: relative;
    list-style-type: none;
    li {
      height: 55px;
      width: 100%;
      font-size: 1.2em;
      color: #444;
      background: linear-gradient(to bottom, #deefff 0%,#98bede 100%);
      border: 1px solid #222;
      position: absolute;
      transition: top 1s ease;
      line-height: 55px;
    }
  }
}
