html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: #f3e8b3 url(../public/assets/images/topPong-paper.png) top left no-repeat;
  background-size: cover;
  > aside {
    position: fixed;
    left: 20px;
    top: 0;
    width: 260px;

    :global(#Layer_1) {
      stroke: #444;
      stroke-width: 2;
      stroke-dasharray: 440px;
      animation: draw 6s infinite;
    }
  }
  header {
    position:relative;
    max-width: 500px;
    height: 210px;
    margin: 0 auto;
    background: url(../public/assets/images/pong-title.png) top left no-repeat;
  }

  :global(.container) {
    width: 420px;
    min-height: 100%;
    padding: 21px;
    margin: 0 auto;
    border-radius: 18px;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 440px;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
